.card{

  background:white;

  padding:25px;

  border-radius:20px;

  box-shadow:0 5px 15px rgba(0,0,0,.1);

}

.intact{
  border-left:8px solid var(--skyride);
}

.defect{
  border-left:8px solid var(--danger);
}